DH2014/odd/test-odds/beckett.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>ODD by Example customization</title>
         </titleStmt>
         <editionStmt>
            <edition>generated on <date>2014-07-07T13:51:08Z</date>
            </edition>
         </editionStmt>
         <publicationStmt>
            <p/>
         </publicationStmt>
         <sourceDesc>
            <p>generated by oddbyexample.xsl, based on analyzing 2 files from ./</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
   <text>
      <body>
         <schemaSpec ident="oddbyexample" start="TEI ">
            <moduleRef key="tei"/>
            <moduleRef key="core"
                       include="add addrLine address author bibl choice corr date del gap graphic head hi item lb list name note p pb ptr pubPlace resp respStmt sic title unclear"/>
            <elementSpec ident="p" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="center"/>
                     </valList>
                  </attDef>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="hi" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="box"/>
                        <valItem ident="circled"/>
                        <valItem ident="i"/>
                        <valItem ident="indented2"/>
                        <valItem ident="open"/>
                        <valItem ident="u"/>
                     </valList>
                  </attDef>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="sic" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="corr" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="choice" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="gap" mode="change">
               <attList>
                  <attDef ident="agent" mode="delete"/>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="add" mode="change">
               <attList>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="black"/>
                        <valItem ident="blueblack"/>
                        <valItem ident="ink"/>
                        <valItem ident="pencil"/>
                     </valList>
                  </attDef>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="place" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="crossed"/>
                        <valItem ident="facingleaf"/>
                        <valItem ident="infralinear"/>
                        <valItem ident="inline"/>
                        <valItem ident="marginleft"/>
                        <valItem ident="marginright"/>
                        <valItem ident="margintop"/>
                        <valItem ident="over"/>
                        <valItem ident="overwritten"/>
                        <valItem ident="rightmargin"/>
                        <valItem ident="supralinear"/>
                     </valList>
                  </attDef>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="alternative"/>
                        <valItem ident="blackink"/>
                        <valItem ident="overwritten"/>
                        <valItem ident="supralinear"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="del" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="black"/>
                        <valItem ident="blackink"/>
                        <valItem ident="blueblack"/>
                        <valItem ident="ink"/>
                        <valItem ident="overwritten"/>
                        <valItem ident="pencil"/>
                     </valList>
                  </attDef>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="#crossed"/>
                        <valItem ident="crossOut"/>
                        <valItem ident="crossed"/>
                        <valItem ident="crossedout"/>
                        <valItem ident="implied"/>
                        <valItem ident="out"/>
                        <valItem ident="over"/>
                        <valItem ident="overwritten"/>
                        <valItem ident="underlined"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="unclear" mode="change">
               <attList>
                  <attDef ident="reason" mode="delete"/>
                  <attDef ident="hand" mode="delete"/>
                  <attDef ident="agent" mode="delete"/>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="name" mode="change">
               <attList>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="address" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="addrLine" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="date" mode="change">
               <attList>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="ptr" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="addition"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="list" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="item" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="head" mode="change">
               <attList>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="note" mode="change">
               <attList>
                  <attDef ident="anchored" mode="delete"/>
                  <attDef ident="targetEnd" mode="delete"/>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="place" mode="delete"/>
                  <attDef ident="target" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="graphic" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="pb" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="lb" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="-it"/>
                        <valItem ident="it"/>
                     </valList>
                  </attDef>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="author" mode="change">
               <attList>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="respStmt" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="resp" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="title" mode="change">
               <attList>
                  <attDef ident="level" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="pubPlace" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="bibl" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <classSpec ident="att.milestoneUnit"
                       module="core"
                       type="atts"
                       mode="delete"/>
            <moduleRef key="figures" include="cell figDesc figure row table"/>
            <elementSpec ident="table" mode="change">
               <attList>
                  <attDef ident="rows" mode="delete"/>
                  <attDef ident="cols" mode="delete"/>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="row" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="cell" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="figure" mode="change">
               <attList>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="place" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="figDesc" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <moduleRef key="header"
                       include="authority availability editorialDecl encodingDesc extent fileDesc funder handNote langUsage language principal profileDesc projectDesc publicationStmt rendition sourceDesc tagsDecl teiHeader titleStmt"/>
            <elementSpec ident="teiHeader" mode="change">
               <attList>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="text"/>
                     </valList>
                  </attDef>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="fileDesc" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="titleStmt" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="funder" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="principal" mode="change">
               <attList>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="extent" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="publicationStmt" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="authority" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="availability" mode="change">
               <attList>
                  <attDef ident="status" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="restricted"/>
                     </valList>
                  </attDef>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="sourceDesc" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="encodingDesc" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="projectDesc" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="editorialDecl" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="tagsDecl" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="rendition" mode="change">
               <attList>
                  <attDef ident="scope" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="profileDesc" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="handNote" mode="change">
               <attList>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="medium" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="black_ink"/>
                        <valItem ident="blueblack_ink"/>
                        <valItem ident="pencil"/>
                        <valItem ident="red_ink"/>
                     </valList>
                  </attDef>
                  <attDef ident="scope" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="major"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="langUsage" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="language" mode="change">
               <attList>
                  <attDef ident="usage" mode="delete"/>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <classSpec ident="att.patternReplacement"
                       module="header"
                       type="atts"
                       mode="delete"/>
            <moduleRef key="linking" include="anchor seg"/>
            <elementSpec ident="anchor" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="zone"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="seg" mode="change">
               <attList>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="part1"/>
                        <valItem ident="part2"/>
                     </valList>
                  </attDef>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="alternative"/>
                        <valItem ident="paralipomena"/>
                        <valItem ident="transposition"/>
                        <valItem ident="zone"/>
                     </valList>
                  </attDef>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <classSpec ident="att.global.linking"
                       module="linking"
                       type="atts"
                       mode="change">
               <attList>
                  <attDef ident="synch" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="exclude" mode="delete"/>
                  <attDef ident="select" mode="delete"/>
               </attList>
            </classSpec>
            <moduleRef key="msdescription" include="height width"/>
            <elementSpec ident="height" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="width" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <classSpec ident="att.msExcerpt"
                       module="msdescription"
                       type="atts"
                       mode="delete"/>
            <classSpec ident="att.ascribed" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.canonical" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.ranging" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.dimensions" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="unit" mode="delete"/>
                  <attDef ident="quantity" mode="delete"/>
                  <attDef ident="extent" mode="delete"/>
                  <attDef ident="precision" mode="delete"/>
                  <attDef ident="scope" mode="delete"/>
                  <attDef ident="atLeast" mode="delete"/>
                  <attDef ident="atMost" mode="delete"/>
                  <attDef ident="min" mode="delete"/>
                  <attDef ident="max" mode="delete"/>
                  <attDef ident="confidence" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.damaged" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="hand" mode="delete"/>
                  <attDef ident="agent" mode="delete"/>
                  <attDef ident="degree" mode="delete"/>
                  <attDef ident="group" mode="delete"/>
                  <attDef ident="unit" mode="delete"/>
                  <attDef ident="quantity" mode="delete"/>
                  <attDef ident="extent" mode="delete"/>
                  <attDef ident="precision" mode="delete"/>
                  <attDef ident="scope" mode="delete"/>
                  <attDef ident="atLeast" mode="delete"/>
                  <attDef ident="atMost" mode="delete"/>
                  <attDef ident="min" mode="delete"/>
                  <attDef ident="max" mode="delete"/>
                  <attDef ident="confidence" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.breaking" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.cReferencing" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.datable.w3c" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.datable" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="period" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="notBefore" mode="delete"/>
                  <attDef ident="notAfter" mode="delete"/>
                  <attDef ident="from" mode="delete"/>
                  <attDef ident="to" mode="delete"/>
                  <attDef ident="when-iso" mode="delete"/>
                  <attDef ident="notBefore-iso" mode="delete"/>
                  <attDef ident="notAfter-iso" mode="delete"/>
                  <attDef ident="from-iso" mode="delete"/>
                  <attDef ident="to-iso" mode="delete"/>
                  <attDef ident="when-custom" mode="delete"/>
                  <attDef ident="notBefore-custom" mode="delete"/>
                  <attDef ident="notAfter-custom" mode="delete"/>
                  <attDef ident="from-custom" mode="delete"/>
                  <attDef ident="to-custom" mode="delete"/>
                  <attDef ident="datingPoint" mode="delete"/>
                  <attDef ident="datingMethod" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.datcat" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.declarable" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.declaring" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.fragmentable" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.divLike" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="org" mode="delete"/>
                  <attDef ident="sample" mode="delete"/>
                  <attDef ident="met" mode="delete"/>
                  <attDef ident="real" mode="delete"/>
                  <attDef ident="rhyme" mode="delete"/>
                  <attDef ident="part" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.docStatus" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.duration.w3c" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.duration.iso" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.responsibility"
                       module="tei"
                       type="atts"
                       mode="change">
               <attList>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.editLike" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="evidence" mode="delete"/>
                  <attDef ident="instant" mode="delete"/>
                  <attDef ident="unit" mode="delete"/>
                  <attDef ident="quantity" mode="delete"/>
                  <attDef ident="extent" mode="delete"/>
                  <attDef ident="precision" mode="delete"/>
                  <attDef ident="scope" mode="delete"/>
                  <attDef ident="atLeast" mode="delete"/>
                  <attDef ident="atMost" mode="delete"/>
                  <attDef ident="min" mode="delete"/>
                  <attDef ident="max" mode="delete"/>
                  <attDef ident="confidence" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.global" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="xml:base" mode="delete"/>
                  <attDef ident="xml:space" mode="delete"/>
                  <attDef ident="synch" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="exclude" mode="delete"/>
                  <attDef ident="select" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="change" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.handFeatures" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="scribe" mode="delete"/>
                  <attDef ident="scribeRef" mode="delete"/>
                  <attDef ident="script" mode="delete"/>
                  <attDef ident="scriptRef" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.internetMedia"
                       module="tei"
                       type="atts"
                       mode="delete"/>
            <classSpec ident="att.media" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="width" mode="delete"/>
                  <attDef ident="height" mode="delete"/>
                  <attDef ident="scale" mode="delete"/>
                  <attDef ident="mimeType" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.interpLike" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="inst" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.measurement" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.naming" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="role" mode="delete"/>
                  <attDef ident="nymRef" mode="delete"/>
                  <attDef ident="key" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.typed" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.pointing" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="targetLang" mode="delete"/>
                  <attDef ident="evaluate" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.pointing.group"
                       module="tei"
                       type="atts"
                       mode="change">
               <attList>
                  <attDef ident="domains" mode="delete"/>
                  <attDef ident="targFunc" mode="delete"/>
                  <attDef ident="targetLang" mode="delete"/>
                  <attDef ident="target" mode="delete"/>
                  <attDef ident="evaluate" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.readFrom" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.scoping" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.segLike" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="function" mode="delete"/>
                  <attDef ident="met" mode="delete"/>
                  <attDef ident="real" mode="delete"/>
                  <attDef ident="rhyme" mode="delete"/>
                  <attDef ident="datcat" mode="delete"/>
                  <attDef ident="valueDatcat" mode="delete"/>
                  <attDef ident="part" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.sortable" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.edition" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.spanning" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.styleDef" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.tableDecoration"
                       module="tei"
                       type="atts"
                       mode="delete"/>
            <classSpec ident="att.timed" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.transcriptional"
                       module="tei"
                       type="atts"
                       mode="change">
               <attList>
                  <attDef ident="status" mode="delete"/>
                  <attDef ident="cause" mode="delete"/>
                  <attDef ident="seq" mode="delete"/>
                  <attDef ident="evidence" mode="delete"/>
                  <attDef ident="instant" mode="delete"/>
                  <attDef ident="unit" mode="delete"/>
                  <attDef ident="quantity" mode="delete"/>
                  <attDef ident="extent" mode="delete"/>
                  <attDef ident="precision" mode="delete"/>
                  <attDef ident="scope" mode="delete"/>
                  <attDef ident="atLeast" mode="delete"/>
                  <attDef ident="atMost" mode="delete"/>
                  <attDef ident="min" mode="delete"/>
                  <attDef ident="max" mode="delete"/>
                  <attDef ident="confidence" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.translatable" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.citing" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.source" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.personal" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="full" mode="delete"/>
                  <attDef ident="sort" mode="delete"/>
                  <attDef ident="role" mode="delete"/>
                  <attDef ident="nymRef" mode="delete"/>
                  <attDef ident="key" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
               </attList>
            </classSpec>
            <moduleRef key="textstructure" include="TEI body div text"/>
            <elementSpec ident="TEI" mode="change">
               <attList>
                  <attDef ident="version" mode="delete"/>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="text" mode="change">
               <attList>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="body" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="div" mode="change">
               <attList>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="coordinates"/>
                        <valItem ident="recto"/>
                        <valItem ident="verso"/>
                     </valList>
                  </attDef>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="addition"/>
                        <valItem ident="page"/>
                        <valItem ident="paragraph"/>
                        <valItem ident="typescript"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <moduleRef key="transcr"
                       include="handNotes handShift listTranspose metamark transpose"/>
            <elementSpec ident="handNotes" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="handShift" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="medium" mode="delete"/>
                  <attDef ident="scope" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="listTranspose" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="metamark" mode="change">
               <attList>
                  <attDef ident="function" mode="delete"/>
                  <attDef ident="target" mode="delete"/>
                  <attDef ident="place" mode="delete"/>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="transpose" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <classSpec ident="att.global.change"
                       module="transcr"
                       type="atts"
                       mode="delete"/>
            <classSpec ident="att.coordinated"
                       module="transcr"
                       type="atts"
                       mode="delete"/>
         </schemaSpec>
      </body>
   </text>
</TEI>
